@import './root.css';

.header {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-dark2);
  box-shadow: 1px 1px 4px var(--color-dark4);
  padding: 0% 10%;
  margin-bottom: 5em;
};

.currency_route{
    background-color: var(--color-dark2);
    padding: 1em;
    flex-grow: 1;
    text-align: center;
}

.navigation_header {
  display: flex;
  gap: 3%; /* Espaço entre os botões de navegação */
};

.navigation_header button {
  background-color: var(--color-dark2);
  border: none;
  cursor: pointer;
  padding: 0.5em 1em;
}

button.btn-dark {
  color: white;
}