@import './root.css';

#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-dark2);
  box-shadow: 1px 1px 4px var(--color-dark4);
  height: 3.5em;
  justify-content: space-between;
  padding: 0% 10%;
};