@import './../others/root.css';

#projects{
  background-color: var(--color-dark4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.projectsList{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.projectDiv{
  display: flex;
  flex-direction: column;
  max-width: 33%;
}

.projectBtn{
  background-color: darkblue;
  margin: 20% 10% -5% 10%;
}

.dropdown-menu{
  border: 1px solid black;
  opacity: 0.9;
  max-width: 80%;
  max-height: 300%;
  overflow-y: auto;
  /* margin-left: 10%; */
}

.dropdown-item{
  white-space: normal;
  word-wrap: break-word;
  pointer-events: none;
}

.project-code-txt{
  text-align: center;
  padding: 1%;
}

.projectCode{
  text-align: center;
  color: blue;
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.projectCode:hover{
  color: rgb(0, 47, 255);
  font-weight: bold;
}

.projectLink{
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.projectImg{
  border-radius: 2%;
  border: 2px solid black;
}

.projectImg:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  filter: brightness(1.4); 
  border:  2px solid darkblue;
}