@import './../others/root.css';

#home{
  background-color: var(--color-dark4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main{
  justify-content: center;
  display: flex;
  flex-wrap: wrap; 
}

.home-div{
  display: flex;
  flex-direction: row;
}

.home-txt{
  font-family:fantasy;
  font-size: large;
}

.goat{
  margin: 0vh -15vh 0vh 5vh;
}

.main_text{
  flex: 2;
  margin: 10vh 10vw 1vh 7vw;
}

.asideImg{
  flex:1;   /* flex-grow:1 && flex-shrink:1*/
  /* margin: 1vh 1vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 5%;
  border-radius: 50%;
  border: 2px solid white;
  margin: 10% 50% -10% 0%;
  transition: transform 0.3s ease-in-out;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
  /* transition: clip-path 0.3s ease-in-out; */
}

.image:hover {
  transform: scale(1.1);
}
/* 
.image:hover {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
} */