.icons{
  margin: 4%;
  font-size: 47px;
}

.icon1:hover{
  /* color: rgba(87, 123, 243, 0.863); */
  font-size: 70px;
}

.icon2:hover{
  /* color: black; */
  font-size: 70px;
}

.icon3:hover{
  /* color: rgb(255, 0, 85); */
  font-size: 70px;
}

.icon4:hover{
  /* color: green; */
  font-size: 70px;
}
