@import './../others/root.css';

.input_area{
  margin: 6px;
  background-color: var(--color-dark2);
  padding: 1em;
  border: 1px solid var(--color-white); 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom-left-radius: 5px; 
  border-bottom-right-radius: 5px; 
};
