@import './../others/root.css';

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: yellow;
  box-shadow: 1px 1px 4px var(--color-dark3);
  padding: 0.7em 15%;
  margin-bottom: 5em;
  border-radius: 10px;
}

.my_name {
  color: var(--color-dark4);
  font-weight: 500;
  margin-left: -11.5%;;
  margin-right: -5%;
}

.language_btn {
  background-size: 100%;
  min-width: 2em;
  min-height: 2em;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.language_label {
  color: black;
}

.language_btn:hover {
  opacity: 0.8;
}

.language_div {
  display: flex;
  align-items: center;
}

.navigation_header {
  display: flex;
  gap: 3%;
}

.my-custom_active_class{
  color: black;
  opacity: 0.4;
  pointer-events: none;
}

@media screen and (max-width: 666px) {
  .navigation_header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation_header {
    flex-direction: column;
  }
}
